#partners {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pic-wrap .inner-container a figure {
  margin: 0;
  float: none;
  margin: 0px 0px 0px 0px;
  position: relative;
}

.pic-wrap .inner-container a figure img{
    width: 100%;
}

.pic-wrap {
  margin-bottom: 20px;
  margin-top: 20px;
}

.inner-container {
  padding: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 0;
  background: none;
}

.partner-hover-image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.inner-container a:hover figure .partner-hover-image {
  opacity: 1;
  filter: alpha(opacity=100);
}

.inner-container a:hover .partner-image {
  opacity: 0;
  filter: alpha(opacity=0);
}

.img-responsive {
  width: auto;
}

